:root {
  --color-bg:212121; /* Fondo de los elementos como input y botón */
  --color-text: #fff; /* Color del texto en los elementos */
  --color-placeholder: #999; /* Color del placeholder en los inputs */
  --color-shadow-dark: rgba(0,0,0,1); /* Sombra oscura de los elementos */
  --color-shadow-light: rgba(255, 255, 255, 0.6); /* Sombra clara de los elementos */
  --color-details: white; /* Color del texto en .form_details */
  --color-button-hover: #212121; /* Color de fondo del botón al pasar el ratón */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.form .label {
  font-size: 20px;
  font-weight: 600;
  padding-right: 20px;
  color: var(--color-details);
}

.form .label_input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form .form_front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: hidden;
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px var(--color-shadow-dark),
              inset -1px -1px 5px var(--color-shadow-light);
}

.form .form_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px var(--color-shadow-dark),
              inset -1px -1px 5px var(--color-shadow-light);
}

.form_details {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  color: var(--color-details);
}

.input {
  width: 245px;
  min-height: 45px;
  color: var(--color-text);
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: var(--color-bg);
  border-radius: 6px;
  border: 2px solid var(--color-bg);
  box-shadow: 6px 6px 10px var(--color-shadow-dark),
              1px 1px 10px var(--color-shadow-light);
}

.input::placeholder {
  color: var(--color-placeholder);
}

.input:focus::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px var(--color-shadow-dark),
              1px 1px 10px var(--color-shadow-light),
              inset 2px 2px 10px var(--color-shadow-dark),
              inset -1px -1px 5px var(--color-shadow-light);
}

.btn {
  padding: 10px 35px;
  cursor: pointer;
  background-color: var(--color-bg);
  border-radius: 6px;
  border: 2px solid var(--color-bg);
  box-shadow: 6px 6px 10px var(--color-shadow-dark),
              1px 1px 10px var(--color-shadow-light);
  color: var(--color-text);
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px var(--color-shadow-dark),
              1px 1px 10px var(--color-shadow-light),
              inset 2px 2px 10px var(--color-shadow-dark),
              inset -1px -1px 5px var(--color-shadow-light);
}

.btn:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px var(--color-shadow-dark),
              1px 1px 10px var(--color-shadow-light),
              inset 2px 2px 10px var(--color-shadow-dark),
              inset -1px -1px 5px var(--color-shadow-light);
}

.form .switch {
  font-size: 13px;
  color: var(--color-text);
}

.form .switch .signup_tog {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.container #signup_toggle {
  display: none;
}

.container #signup_toggle:checked + .form {
  transform: rotateY(-180deg);
}