@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #fcd5b5;
  --secondary-color: #1f1d26;
  --accent-color: #e4e4e4;
  --background-color: #020410;
  --text-color: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

body {
  background: var(--background-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.navbar a:hover::after {
  transform: translateY(0px);
  opacity: 1;
}

.search-bar {
  width: 250px;
  height: 45px;
  background: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--accent-color);
  padding-left: 10px;
}

.search-bar input::placeholder {
  color: var(--accent-color);
}

.search-bar button {
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button i {
  font-size: 22px;
  color: var(--accent-color);
}

.background {
  width: 100%;
  height: 100vh;
  background: url('/resources/wallpaper7.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 95%;
  background: url('/resources/wallpaper7.png') no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container .logo {
  font-size: 30px;
}

.text-sci h2 {
  font-size: 40px;
  line-height: 1;
}

.text-sci h2 span {
  font-size: 25px;
}

.text-sci p {
  font-size: 16px;
  margin: 20px 0;
}

.container .logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 40%);
  height: 100%;
  overflow: hidden;
}

.social-icons a i {
  font-size: 22px;
  color: var(--accent-color);
  margin-right: 10px;
  transition: 0.5s ease;
}

.social-icons a:hover i {
  transform: scale(1.2);
}

.logreg-box .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--accent-color);
  padding:100px;
}

.logreg-box .form-box.register {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.6s ease;
  transition-delay: 0.7s;
}

.logreg-box.active .form-box.register {
  visibility: hidden;
  transform: translateX(100vw);
  transition: transform 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
  transition-delay: 0s;
}

.logreg-box .form-box.login {
  visibility: hidden;
  transform: translateX(100vw);
  transition: transform 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
  transition-delay: 0s;
}

.logreg-box.active .form-box.login {
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0.7s;
}

.form-box h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.form-box .input-box {
  transform: translateX(-0.5%);
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--accent-color);
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group-row {
  display: flex;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--accent-color);
  font-weight: 500;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box input.has-content~label {
  top: -5px;
}

.input-box .icon, .option-box .icon {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 19px;
}

.form-box .remember-forgot {
  font-size: 14.5px;
  font-weight: 500;
  margin: -15px 0 15px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.remember-forgot label input {
  accent-color: var(--accent-color);
  margin-right: 5px;
}

.remember-forgot a {
  color: var(--accent-color);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: var(--accent-color);
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
  margin: 10px;
}

.btn:hover, .btn:focus {
  transform: scale(1.05);
}

.form-box .login-register {
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}

.login-register p a {
  color: var(--accent-color);
  font-weight: 600;
  text-decoration: none;
}

.login-register p a:hover {
  text-decoration: underline;
}

.checkbox-label {
  font-size: 14.5px;
  margin: 10px;
}

a {
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 5px;
}

a:focus {
  outline: none;
  transform: scale(1.08);
}

.radio-container {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  color: white;
  flex-direction: column;
}

.radio-wrapper {
  transform: translateY(25%);
  margin-right: 30px;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button:hover {
  transform: translateY(-2px);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  font-size: 16px;
  font-weight: 500;
}

.option-box {
  transform: translateY(40%);
  display: flex;
  font-weight: 500;
  position: relative;
  height: 50px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.select-box {
  margin: 8px;
  width: 100%;
}

.select-box label {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

select {
  padding: 10px;
}