@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --colorbg:#191724;
  --colorfg:#e0def4;
  --colormain1:#ebbcba;
  --color0:#26233a;
  --color1:#eb6f92;
  --color2:#9ccfd8;
  --color3:#f6c177;
  --color4:#31748f;
  --color5:#c4a7e7;
  --color6:#ebbcba;
  --color7:#e0def4;
  --color8:#6e6a86;
  --color9:#eb6f92;
  --color10:#9ccfd8;
  --color11:#f6c177;
  --color12:#31748f;
  --color13:#c4a7e7;
  --color14:#ebbcba;
  --color15:#e0def4;
}

* {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

.an{
  margin-top: 10px;
  padding: 10px;
  margin-left: 8px;
}

.contenido-centro{
  text-align: center;
}

.centrado{   
  padding: 5%;
}

.espacio{
  padding-top: 20px;
}

.foto{
  padding-top: 10px;
  padding-bottom: 10px;
}


.card{
  background-color: var(--color0);
  border: none;
  transition: 1s;
  color: var(--colorfg);
}

.card:hover{
  transform: scale(104%);
}

.bgshow{
  background-color: var(--colormain1);
}

h2{
  font-size: 40px;
  color: var(--colorfg);
  box-sizing: border-box;
  text-align: center;
}


.prod{
  text-align: center;
  padding: 2% 0% 2% 0%;
  border-radius: 5%;
  margin: 2%;
}

.imagen-producto{
  width: 230px;
  height: 220px;
  border-radius: 2%;
  margin: 4%;
}

.cdstore{
  background-color: var(--color15);
  color: var(--color0);
  font-weight: bolder;
}

.card-header{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.starsval{
  width: 20%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -5%;
  border-radius: 50%;
}

.enlacetodos{
  display: flex;
  text-decoration: none;
  margin-left: 86%;
  margin-top: -5%;
  background-color: rgb(230, 230, 230);
  color: black;
  padding: 0.5%;
  border-radius: 3%;
  
}

.enlacetodos:hover{
  background-color:rgb(250, 253, 255);
}


.imgshow{
  max-width: 100%;
  height: 100%;
  padding: 1%;
  border-radius: 5%;
}

.boxshowdeailts{
  padding: 20px;
  background-color: var(--color15);
}

.productnameshow{
  font-size: 60px;
}

.btn-dark {
  background-color: var(--color0);
  border: none;
  padding: 1em;
  transition: 1s;
  margin: 1em;
}

.btn-dark:hover {
  background-color: var(--color0);
  scale: 105%;
}


.card-review{
  
  background-color:#e0def4bb;
  color: black;
  

}

.card-review:hover{
  transform: scale(100%);
}

.califica{
  color: black;
}

.cuerpo{
  height: 180px;
}


/* MIS MODIFICACIONES */



.container-icon-cart {
  background-color: var(--color3);
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  transform: translate(100%, -30%) scale(75%);
  z-index: 1111;
  cursor: pointer;
  border: none;
}

.bx {
  font-size: 4em;
}