@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Option One */
/* :root {
  --colorbg: #2e3440;
  --colorfg: #eceff4;
  --colormain1: #81a1c1;
  --color0: #3b4252;
  --color1: #bf616a;
  --color2: #a3be8c;
  --color3: #ebcb8b;
  --color4: #81a1c1;
  --color5: #b48ead;
  --color6: #88c0d0;
  --color7: #e5e9f0;
  --color8: #4c566a;
  --color9: #bf616a;
  --color10: #a3be8c;
  --color11: #ebcb8b;
  --color12: #81a1c1;
  --color13: #b48ead;
  --color14: #8fbcbb;
  --color15: #eceff4;
} */

/* Option Two */
:root {
  --colorbg:#191724;
  --colorfg:#e0def4;
  --colormain1:#ebbcba;
  --color0:#26233a;
  --color1:#eb6f92;
  --color2:#9ccfd8;
  --color3:#f6c177;
  --color4:#31748f;
  --color5:#c4a7e7;
  --color6:#ebbcba;
  --color7:#e0def4;
  --color8:#6e6a86;
  --color9:#eb6f92;
  --color10:#9ccfd8;
  --color11:#f6c177;
  --color12:#31748f;
  --color13:#c4a7e7;
  --color14:#ebbcba;
  --color15:#e0def4;

  --b-radius: clamp(0.25em, 0.5vw, 1em);

  --m-container-main: clamp(1em, 2vw, 3em);
  --p-container-main: clamp(0.5em, 1vw, 2em);
  --h-container-main: calc(100vh - 2 * (var(--m-container-main) + var(--p-container-main)));
  --w-container-main: calc(100vw - 2 * (var(--m-container-main) + var(--p-container-main)));

  --m-subcontainer-1: clamp(0.1em, 0.2vw, 0.4em);
  --m-subcontainer-2: clamp(0.25em, 0.5vw, 1em);

  --title-1: clamp(1em, 4vw, 10em);
  --title-2: clamp(0.5em, 2vw, 5em);
  --title-3: clamp(0.4em, 1.5vw, 3em);
  --m-title: clamp(0.2em, 0.5vw, 1em) clamp(0.2em, 0.5vw, 1em) 0 clamp(0.2em, 0.5vw, 1em);

  --m-txt: clamp(0.2em, 0.5vw, 1em);
  --p-txt: clamp(0.1em, 0.3vw, 0.5em);
  --fs-txt: clamp(0.5em, 1.5vw, 3.0em);

  --m-data-info: clamp(0.2em, 0.5vw, 1em);
  --p-data-info: clamp(0.1em, 0.3vw, 0.5em);
  --fs-data-info: clamp(0.5em, 1.5vw, 3.0em);

  --fs-text-danger: clamp(0.5em, 1.2vw, 2.0em);
}

* {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

body {
  padding: 0;
  background-color: var(--colormain1);
  color: var(--colorfg);
}

.container-main {
  margin: var(--m-container-main);
  padding: var(--p-container-main);
  width: var(--w-container-main);
  height: var(--h-container-main);
  background-color: var(--color0);
  border-radius: var(--b-radius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Contorno con sombra */
}

.container-left {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-info {
  height: 20%;
  color: var(--colorfg);
}

.container-cart-items {
  height: 78%;
  color: var(--color0);
  background-color: var(--color5);
  overflow-y: scroll;
  border-radius: var(--b-radius);
  padding: var(--p-container-main);
}

.container-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--b-radius);
}

.container-msc {
  height: 18%;
  color: var(--color0);
  background-color: var(--color3);
  border-radius: var(--b-radius);
}

.container-items {
  height: 80%;
  color: var(--color0);
  background-color: var(--color10);
  overflow-y: scroll;
  border-radius: var(--b-radius);
}

.subcontainer-2 {
  margin: var(--m-subcontainer-2);
}

.title-1 {
  font-size: var(--title-1);
  margin: var(--m-title);
  display: flex;
}

.title-2 {
  font-size: var(--title-2);
  margin: var(--m-title);
}

.title-3 {
  font-size: var(--title-3);
  margin: var(--m-title);
}

.data-info {
  margin: var(--m-data-info);
  padding: var(--p-data-info);
  font-size: var(--fs-data-info);
}

.icon {
  transform: translateY(0.1em);
  margin-right: 0.5em;
}

.text-danger {
  font-size: var(--fs-text-danger);
  color: var(--color1);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

form {
  margin: var(--m-data-info);
}

.form-box {
  font-size: var(--fs-txt);
  padding: 0.2em;
}

.form-pt {
  padding: 0.5em;
  font-weight: 500;
  border: none;
  outline: none;
}

.input-box {
  position: relative;
}

.input-box label {
  box-sizing: border-box;
  left: 0.6em;
  pointer-events: none;
}

.input-box input {
  box-sizing: border-box;
  width: 100%;
}

.btn {
  width: 10%;
}

input[type="number"] {
  background-color: var(--color5);
  color: var(--color4);
  appearance: none;
}

input[type="number"]:focus,
input[type="number"]:hover {
  border: none;
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/* Fallback for other browsers */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.cart-item {
  background-color: var(--color4);
  color: var(--colorfg);
  margin: var(--m-title);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
}

.cart-item .item-img {
  background-color: green;
}

.mini-data {
  font-size: var(--fs-text-danger);
  margin: var(--m-title);
}

.item-info {
  width: 100%;
  padding: var(--p-data-info);
}

.info-bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-price {
  display: flex;
  align-self: flex-end;
}

.number {
  border: none;
  height: 1.5em;
  align-self: center;
}

.submit-form {
  width: 98.5%;
  display: flex;
  background-color: var(--color2);
  border-radius: var(--b-radius);
}

.submit-form button {
  background-color: var(--color0);
  color: var(--colorfg);
  border: none;
  border-radius: var(--b-radius);
}