@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Option One */
/* :root {
  --colorbg: #2e3440;
  --colorfg: #eceff4;
  --colormain1: #81a1c1;
  --color0: #3b4252;
  --color1: #bf616a;
  --color2: #a3be8c;
  --color3: #ebcb8b;
  --color4: #81a1c1;
  --color5: #b48ead;
  --color6: #88c0d0;
  --color7: #e5e9f0;
  --color8: #4c566a;
  --color9: #bf616a;
  --color10: #a3be8c;
  --color11: #ebcb8b;
  --color12: #81a1c1;
  --color13: #b48ead;
  --color14: #8fbcbb;
  --color15: #eceff4;
} */

/* Option Two */
:root {
  --colorbg:#191724;
  --colorfg:#e0def4;
  --colormain1:#ebbcba;
  --color0:#26233a;
  --color1:#eb6f92;
  --color2:#9ccfd8;
  --color3:#f6c177;
  --color4:#31748f;
  --color5:#c4a7e7;
  --color6:#ebbcba;
  --color7:#e0def4;
  --color8:#6e6a86;
  --color9:#eb6f92;
  --color10:#9ccfd8;
  --color11:#f6c177;
  --color12:#31748f;
  --color13:#c4a7e7;
  --color14:#ebbcba;
  --color15:#e0def4;

  --m-container-main: clamp(1em, 2vw, 3em);
  --p-container-main: clamp(0.5em, 1vw, 2em);
  --h-container-main: calc(100vh - 2 * (var(--m-container-main) + var(--p-container-main)));
  --w-container-main: calc(100vw - 2 * (var(--m-container-main) + var(--p-container-main)));
  --b-container-main: clamp(0.25em, 0.5vw, 1em);

  --m-subcontainer-1: clamp(0.1em, 0.2vw, 0.4em);
  --m-subcontainer-2: clamp(0.25em, 0.5vw, 1em);

  --title-1: clamp(1em, 4vw, 10em);
  --title-2: clamp(0.5em, 2vw, 5em);
  --title-3: clamp(0.3em, 1vw, 2.5em);
}

* {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

body {
  padding: 0;
  background-color: var(--colormain1);
  color: var(--colorfg);
}

.container-main {
  margin: var(--m-container-main);
  padding: var(--p-container-main);
  width: var(--w-container-main);
  height: var(--h-container-main);
  background-color: var(--color0);
  border-radius: var(--b-container-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-left {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-info {
  height: 49%;
  background-color: #31748f;
}

.container-valoration {
  height: 49%;
  background-color: #eb6f92;
  overflow-y: scroll;
}

.container-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-msc {
  height: 18%;
  background-color: #31748f;
}

.container-items {
  height: 80%;
  background-color: #eb6f92;
  overflow-y: scroll;
}

.title-1 {
  font-size: var(--title-1);
}

.title-2 {
  font-size: var(--title-2);
}
